@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {box-sizing: border-box;}
body {font-family: 'Noto Sans KR', sans-serif; margin: 0; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6, figure, p {margin: 0;}
a {text-decoration: none;}
ul, li {list-style: none; padding: 0; margin: 0;}
img {vertical-align: middle;}
table {border-collapse: collapse;}

.wrap {position: relative;}
header {
    position: relative; z-index: 1;
    .hd {
        position: absolute; top: 0; left: 0; width: 100%; height: 3.75em; padding: 0 15px; display: flex; justify-content: space-between;
        h1 {
            width: 50%; height: 100%;
            a {
                width: 100%; 
                img {width: 100%}
            }
        }
        button {
            width: 42px; background: none; text-align: right; border: 0; line-height: 0.8em; cursor: pointer;
            span {width: 100%; height: 2px; background: #fff; display: inline-block;}
        }
    }

    .s_mn {
        width: 100%; position: absolute; left: 0; top: 3.75em; z-index: 1; display: none;
        .sub {
            background: #fff; 
            ul {
                padding-top: 0.75em;
                li {
                    height: 3.125em; border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                    a {padding: 0.5em 0.75em; display: block; width: 100%; color: #000; font-size: 1.25em; line-height: 1.5;}
                }
            }
            
        }
    }

    .fl {
        background: #f4f4f4; display: flex;
        
        .family, .lang {
            width: 50%;
            ul {
                padding: 0.5em 0 1.5em 1em;
                li.tit {padding: 1em 0.25em 0.5em; font-size: 0.875em; color: #222; font-weight: 700;}
                li {
                    a {color: rgb(69,69,69); line-height: 1.8; font-size: 0.875em;}
                }
            }
        }
    }

}

footer {
    background: #313240; padding: 0 1em;
    .f_logo {
        padding: 2.5em 0 1em 0;
        h2 {max-width: 200px;}
        p {font-size: 0.8em; color: rgba(255,255,255,0.6); margin-top: 2.2em;}
    }
    .addr {
        margin-top: 1.5em;
        p {font-size: 0.8em; color: rgba(255,255,255,0.6);}
        ul {
            display: flex; margin-top: 2em;
            li {width: inherit; height: 2.5em; list-style: 2.5;}
            li a {color: rgba(255,255,255,0.6); font-weight: 700; font-size: .8em; padding-right: 2em;}
            li.sns {width: 2.5em;}
            li.sns img {width: 50%; opacity: .6; }
        }
    }
    .family_w {
        padding-bottom: 2.5em; width: 11.25em; position: relative;
        .family {
            width: 100%;
            a {display: block; border: 1px solid #fff; text-align: center; line-height: 3; color: #fff; font-weight: 700; width: 100%; height: 3em; font-size: .8em; opacity: .6;}
            &:hover a {background: #112651; border: 1px solid #112651; opacity: 1;}
        }
        .all_fam {
            width: 11.25em; padding: 0.5em 0; background: #38af7c; position: absolute; left: 0; bottom: 4.9em; display: none;
            ul li {
                width: 100%; height: 3em; line-height: 3; 
                a {color: #fff; display: block; width: 100%; height: 100%; font-size: .9em; padding-left: 1.5em; cursor: pointer;}
            }
        }
    }
}