@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.wrap {
  position: relative;
}

header {
  position: relative;
  z-index: 1;
}

header .hd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75em;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hd h1 {
  width: 50%;
  height: 100%;
}

header .hd h1 a {
  width: 100%;
}

header .hd h1 a img {
  width: 100%;
}

header .hd button {
  width: 2.5em;
  background: none;
  text-align: left;
  border: 0;
  line-height: 0.6em;
  cursor: pointer;
}

header .hd button span {
  width: 100%;
  height: 2px;
  background: #fff;
  display: inline-block;
}

header .hd button span:nth-of-type(2) {
  width: 75%;
}

header .s_mn {
  width: 100%;
  position: absolute;
  left: 0;
  top: 3.75em;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .s_mn .sub {
  background: #fff;
}

header .s_mn .sub ul {
  padding-top: 0.75em;
}

header .s_mn .sub ul li {
  height: 3.125em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

header .s_mn .sub ul li a {
  padding: 0.5em 0.75em;
  display: block;
  width: 100%;
  color: #000;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
}

header .s_mn.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .fl {
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .fl .family, header .fl .lang {
  width: 50%;
}

header .fl .family ul, header .fl .lang ul {
  padding: 0.5em 0 1.5em 1em;
}

header .fl .family ul li.tit, header .fl .lang ul li.tit {
  padding: 1em 0.25em 0.5em;
  font-size: 0.875em;
  color: #222;
  font-weight: 700;
}

header .fl .family ul li a, header .fl .lang ul li a {
  color: #454545;
  line-height: 1.8;
  font-size: 0.875em;
}

footer {
  background: #313240;
  padding: 0 1em;
}

footer .f_logo {
  padding: 2.5em 0 1em 0;
}

footer .f_logo h2 {
  max-width: 200px;
}

footer .f_logo p {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 2.2em;
}

footer .addr {
  margin-top: 1.5em;
}

footer .addr p {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
}

footer .addr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

footer .addr ul li {
  width: inherit;
  height: 2.5em;
  list-style: 2.5;
}

footer .addr ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: .8em;
  padding-right: 2em;
}

footer .addr ul li.sns {
  width: 2.5em;
}

footer .addr ul li.sns img {
  width: 50%;
  opacity: .6;
}

footer .family_w {
  padding-bottom: 2.5em;
  width: 11.25em;
  position: relative;
}

footer .family_w .family {
  width: 100%;
}

footer .family_w .family a {
  display: block;
  border: 1px solid #fff;
  text-align: center;
  line-height: 3;
  color: #fff;
  font-weight: 700;
  width: 100%;
  height: 3em;
  font-size: .8em;
  opacity: .6;
}

footer .family_w .family:hover a {
  background: #112651;
  border: 1px solid #112651;
  opacity: 1;
}

footer .family_w .all_fam {
  width: 11.25em;
  padding: 0.5em 0;
  background: #38af7c;
  position: absolute;
  left: 0;
  bottom: 4.9em;
  display: none;
}

footer .family_w .all_fam ul li {
  width: 100%;
  height: 3em;
  line-height: 3;
}

footer .family_w .all_fam ul li a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  font-size: .9em;
  padding-left: 1.5em;
  cursor: pointer;
}

.pt-40 {
  padding-top: 2.5em;
}

.about_v {
  position: relative;
  width: 100%;
  height: 100vh;
}

.about_v::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/subBG-about3.jpg") center;
  background-size: cover;
  display: block;
  z-index: -1;
}

.about_v .tit {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_v .tit p {
  color: #fff;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.about_v .tit h2 {
  color: #fff;
  font-weight: 700;
  font-size: 3.3em;
  text-align: center;
}

.about_v .scr {
  position: absolute;
  width: 1.5em;
  left: 50%;
  bottom: 3.5vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_v .scr span {
  position: absolute;
  width: 1.5em;
  height: 2.5em;
  border-radius: 0.75em;
  border: 1px solid #fff;
}

.about_v .scr span::before {
  content: '';
  display: block;
  background: #fff;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  left: calc(50% - 0.25em);
  top: 5px;
  -webkit-animation: move 1s infinite linear;
          animation: move 1s infinite linear;
  position: absolute;
}

.about_v .scr p {
  color: #fff;
  font-size: .75em;
  text-align: center;
  padding-top: 3.5em;
  margin-left: -0.75em;
}

@-webkit-keyframes move {
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

@keyframes move {
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

.about {
  padding: 3em 1em;
}

.about .tit h2 {
  font-size: 2.75em;
  color: #443227;
}

.about .tit h3 {
  font-size: 2em;
  color: #443227;
}

.about p {
  font-size: 1em;
  line-height: 1.75;
  margin-top: 1.5em;
}

.about p img {
  width: 100%;
}

.vision {
  padding: 3em 1em;
}

.vision .tit h3 {
  font-size: 2em;
  color: #443227;
}

.vision .box {
  padding: 3em;
  background: #f4f4f4;
  text-align: center;
  margin-top: 2.5em;
}

.vision .box .cont h4 {
  font-size: 1.5em;
  color: #443227;
}

.vision .box .cont p {
  font-size: 1em;
  color: #353535;
  margin: 1.5em 0;
}

.vision .box .icon {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background: #fff;
  line-height: 15em;
}

.vision .box .icon1 {
  width: 15em;
  margin-top: 1.5em;
}

.vision .box .icon1 img {
  width: 100%;
}

.subsidiary {
  padding: 3em 1em;
  background: #f5f8f7;
}

.subsidiary .tit {
  margin-bottom: 2em;
}

.subsidiary .tit h3 {
  font-size: 2em;
  color: #443227;
}

.subsidiary .company {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 25px 70px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 70px rgba(0, 0, 0, 0.1);
  padding: 4.5% 5.5%;
  margin-bottom: 1.5em;
}

.subsidiary .company h4 {
  padding: 0 2em 1em 0;
}

.subsidiary .company h4 img {
  width: 100%;
}

.subsidiary .company p {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
}

.subsidiary .company a {
  width: 10rem;
  height: 2.5rem;
  position: relative;
  padding-right: 1em;
  border: 1px solid #ccc;
  display: block;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 0.85em;
  line-height: 2.7;
  text-align: center;
  color: #333;
  font-weight: 700;
}

.subsidiary .company a::after {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  border-left: 7px solid #333;
  top: calc(50% - 0.5em);
  right: 0.5em;
}

.business_w {
  width: 100%;
  height: 100vh;
  padding: 3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business_w .img {
  width: 100%;
}

.business_w .img img {
  width: 100%;
}

.business_w .tit {
  color: #fff;
  margin-top: 1em;
}

.business_w .tit p {
  font-size: 0.75em;
  letter-spacing: 10;
}

.business_w .tit h2 {
  font-size: 3em;
  margin: 0.15em 0 0 0;
}

.business_w .txt {
  color: #fff;
  font-size: 0.85em;
}

.business_w .txt p {
  line-height: 1.7;
  margin: 1em 0 2em 0;
}

.business_w .txt a {
  display: inline-block;
  color: #fff;
  padding: 0.625em 1em;
  border: 1px solid #fff;
  font-weight: 700;
  margin-right: 1em;
}

.business_01 {
  background: url("../img/business01-bg.jpg") center;
  background-size: cover;
}

.business_02 {
  background: url("../img/business02-bg.jpg") center;
  background-size: cover;
}

.business_03 {
  background: url("../img/business03-bg.jpg") center;
  background-size: cover;
}

.business_04 {
  background: url("../img/business04-bg.jpg") center;
  background-size: cover;
}

.business_05 {
  background: url("../img/business05-bg.jpg") center;
  background-size: cover;
}

.esg_v {
  position: relative;
  width: 100%;
  height: 100vh;
}

.esg_v::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/subBG-esg.jpg") center;
  background-size: cover;
  display: block;
  z-index: -1;
}

.esg_v .tit {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.esg_v .tit p {
  color: #fff;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.esg_v .tit h2 {
  color: #fff;
  font-weight: 700;
  font-size: 3.3em;
  text-align: center;
}

.esg_v .scr {
  position: absolute;
  width: 1.5em;
  left: 50%;
  bottom: 3.5vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.esg_v .scr span {
  position: absolute;
  width: 1.5em;
  height: 2.5em;
  border-radius: 0.75em;
  border: 1px solid #fff;
}

.esg_v .scr span::before {
  content: '';
  display: block;
  background: #fff;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  left: calc(50% - 0.25em);
  top: 5px;
  -webkit-animation: move 1s infinite linear;
          animation: move 1s infinite linear;
  position: absolute;
}

.esg_v .scr p {
  color: #fff;
  font-size: .75em;
  text-align: center;
  padding-top: 3.5em;
  margin-left: -0.75em;
}

@keyframes move {
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}

.esg {
  padding: 3em 1em;
}

.esg .tit h2 {
  font-size: 2em;
  color: #443227;
}

.esg .txt p {
  font-size: 1em;
  line-height: 1.75;
  margin-top: 1.5em;
}

.esg .txt p img {
  width: 100%;
}

.esg .txt h3 {
  font-size: 1.5em;
  color: #3c9965;
}

.esg .txt ul {
  margin-top: 2em;
}

.esg .txt ul li {
  font-size: 1em;
  padding: 0 0 1em 2em;
  position: relative;
}

.esg .txt ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: .25em;
  top: .35em;
  width: 1em;
  height: 1.25em;
  background: url("../img/elmnt-v.svg") center;
  background-size: 100%;
}

.ethics {
  padding: 3em 1em;
  background: #f5f8f7;
  position: relative;
}

.ethics .tit h2 {
  font-size: 2em;
  color: #443227;
}

.ethics .txt p {
  font-size: 1em;
  line-height: 1.75;
  margin: 1.5em 0;
}

.ethics .txt h3 {
  font-size: 1.5em;
  color: #3c9965;
}

.ethics .content-box {
  width: 100%;
  padding: 2em;
  background: #fff;
  margin-top: 2em;
}

.ethics .content-box h4 {
  font-size: 1.5em;
  color: #111;
}

.ethics .content-box .sub_title {
  font-size: 1.25em;
  color: #3c9965;
  font-weight: 700;
  margin: 1rem 0 0.75rem 0;
}

.ethics .content-box p {
  font-size: 1em;
}

.ethics .content-box p strong {
  display: block;
}

.ethics .more_btn {
  position: absolute;
  display: block;
  width: calc(100% - 2em);
  bottom: -0.25em;
  left: 1em;
  padding: 7.5em 0 0 0;
}

.ethics .more_btn .open {
  color: #fff;
  background: #2c4373;
  cursor: pointer;
  padding: 0.75em 0;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}
/*# sourceMappingURL=sub.css.map */